body 
 { 
     background-color: #A9CCE3   ;} 
 h1 
 { 
     Color:#566573  ; 
     Text-align: Center ;
 } 
 p 
 { 
     font-family: "Times,   nuevo   romana "  ;
    font-size: 20 px  ;
} 

